<h3>Are you sure you want to delete this event?</h3>
{{#each events}}
{{name}}<br>
{{genre}}<br>
{{venue}}<br>
<form action="delete" method="POST">
  <!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
  <input type="hidden" name="id" value="{{this.id}}">
  <button class="btn" type="submit">Delete</button>
{{/each}}
</form>
