{{#if logged_in}}
  {{#each events}}
    <div class="list-group">
       <a href="#">
        {{name}}<br>
        {{genre}}<br>
        {{venue}}<br>
      </a>
      {{>events/update}}<br>{{>events/delete}}
    </div>
  {{/each}}
{{/if}}
