<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>ClubbR</title>
	</head>
	<body class="container text-center">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav navbar-right">
				{{#unless logged_in}}
					<li><a href="/users/sign-in">Sign In</a></li>
					<li><a href="/users/new">Sign Up</a></li>
				{{/unless}}

				{{#if logged_in}}
					<li><p>{{#if username}}Welcome {{username}}!{{/if}}</p></li>
					<li><a href="/events/myevents">My Events</a></li>
					<li><a href="/events/create">Add Event</a></li>
					<li><a href="/users/sign-out">Sign Out</a></li>
				{{/if}}
			</ul>
		</nav>
		<h1>ClubbR</h1>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</HTML>
