<form class="create-update-form" action="/users/forgot" method="POST">
  <label for="em">Enter your email address to reset your password: </label><br>
  <input id="em" class="form-group" placeholder="Email" type="text" name="email" required><br>
  <button class="btn" type="submit">Reset</button>
</form>
