<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->
<div style="margin-top: 80px">
<form action="/users/sign-in" method="POST">
      <input class="form-group" placeholder="Email" type="email" name="email">
      <br>
      <input class="form-group" placeholder="Password" type="password" name="password">
      <br>
      <button class="btn" button type="submit">Sign In</button>
      <br>
      <a href="/users/forgot">Forgot Password?</a>
</form>
</div>
