<form class="text-center" action="/events/guest-list" method="POST">
  <h4>Enter your name and email to get on the guest list for this event (if available).</h4>
  <input class="form-group" placeholder="Name" type="text" name="name"><br>
  <input class="form-group" placeholder="Email" type="email" name="email"><br>
  <button class="btn btn-theme" type="submit">Send</button>
</form>
